<h1><%= @event.name %> / Tickets </h1>

<p class="text-right">
	<%= link_to "new ticket", new_admin_event_ticket_path(@event), :class => "btn btn-primary" %>
</p>

<table class="table">
	<tr>
		<th>name</th>
		<th>price</th>
		<th>description</th>
		<th>actions</th>
	</tr>

	<% @tickets.each do |ticket| %>
	<tr>
		<td><%= ticket.name %></td>
		<td><%= ticket.price %></td>
		<td><%= simple_format ticket.description %></td>
		<td>
			<%= link_to "edit", edit_admin_event_ticket_path(@event, ticket), :class => "btn btn-default" %>
			<%= link_to "delete", admin_event_ticket_path(@event, ticket), :method => "delete", :data => { :confirm => "are you sure?"}, :class => "btn btn-danger" %>
		</td>
	</tr>
	<% end %>
</table>
